<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-tabs nav-stacked">
        <li role="presentation">

          <a *ngFor="let interest of interestList" 
          [routerLink]="interest.router"
          
           style="cursor: pointer; border: 1px solid;"
           class="list-group-item clearfix">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{interest.title}}</h4>
            </div>
          </a>
          
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>    
    </div>
  </div>
</div>